{%extends 'base.html'%}
{%block addons%}
		<title>Home</title>
{%endblock%}
{%block content%}
		<div class="container">
			<div class="jumbotron">
				<h1 class="display-4">Manage your account</h1>
			  	<p class="lead">If you don't have and account yet, create one. Otherwise, login</p>
			  	<button class="btn btn-primary btn-warning" onclick="Login()" type="button">Login</button>
			  	<button class="btn btn-primary btn-warning" onclick="Create_Account()" type="button">Create Account</button>
			</div>
			<div class="row">
				<div class="col-sm">
			    	<div class="jumbotron">
						<h1 class="display-4">Online calendar</h1>
					  	<p class="lead">Download the calendar</p>
					  	<button class="btn btn-primary btn-warning" onclick="Download_Calendar()" type="button">Download</button>
					</div>
			    </div>
			    <div class="col-sm">
			    	<div class="jumbotron">
						<h1 class="display-5">Change your credentials</h1>
					  	<p class="lead">Update your ENT credentials</p>
					  	<button class="btn btn-primary btn-warning" onclick="Change_Credentials()" type="button">Update</button>
					</div>
			    </div>
		  </div>
		</div>
{%endblock%}