{%extends 'base.html'%}
{%block addons%}
		<script src="{{url_for('static',filename='js/grid.js')}}"></script>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css')}}">
		<title>Home</title>
{%endblock%}
{%block content%}
		<div class="container-fluid">
			<div class="row">
				<div class="col-10">
					<div class="row" id="rectangle-black">
						<div class="col" id="rectangle-black">
							<div class="gg">
								<!-- This is the column where the grid has to be allocated -->
								<div class="row" id="rectangle-black">
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
								</div>
								<div class="row" id="rectangle-black">
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
								</div>
								<div class="row" id="rectangle-black">
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
								</div>
								<div class="row" id="rectangle-black">
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
								</div>
								<div class="row" id="rectangle-black">
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
									<div class="col" id="rectangle-black">
										cell
									</div>
								</div>
							</div>

							<!-- At the end, we have to put the horizontal button -->
							<div class="row" id="rectangle-black">
								<button type="button" class="btn btn-primary btn-block">Button</button>
							</div>
						</div>
						<div class="col" id="rectangle-black">
							<!-- This is the other column with the lateral button -->
							<button type="button" id="rightButton" class="btn btn-primary">Button</button>
						</div>
					</div>
				</div>
				<div class="col">
					right panel
				</div>
			</div>
		</div>
{%endblock%}